<template-page backRoute="ventas" title="Ventas realizadas" titleButton="Nueva Venta" (filtro)="filtrarVenta($event)" (onClickButton)="nuevo()">
  <div>
    <table class="w-100" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="nroVenta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero </th>
        <td mat-cell *matCellDef="let row"> {{row.nroVenta| number}} </td>
      </ng-container>
      <ng-container matColumnDef="nombreCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
        <td mat-cell *matCellDef="let row"> {{row.idCliente.apellido| titlecase}}, {{ row.idCliente.nombre |titlecase}} </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
        <td mat-cell *matCellDef="let row"> {{row.total | currency}} </td>
      </ng-container>
      <ng-container matColumnDef="descuento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descuento </th>
        <td mat-cell *matCellDef="let row"> {{row.descuento}}% </td>
      </ng-container>
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let row"> {{row.fechaVenta | date: 'short':'+0000'}} </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Opciones</th>
        <td mat-cell *matCellDef="let row">
          <button class="btn btn-default select" title="Consultar" (click)="consultar(row)">
            <i class="fas fa-info"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="10">No existe la venta buscada...</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</template-page>