<div mat-dialog-title>
  <mat-toolbar color="primary">
    <span>Nuevo Banco</span>
  </mat-toolbar>
</div>
<div mat-dialog-content class="confirm-dialog-container content-container">
  <mat-form-field class="row">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="banco.nombre">
  </mat-form-field>
  <mat-form-field class="row">
    <mat-label>Abreviatura</mat-label>
    <input matInput [(ngModel)]="banco.abreviatura">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cerrar</button>
  <button mat-raised-button  color="accent" (click)="guardarBanco(banco)" cdkFocusInitial>Guardar</button>
  <button mat-raised-button  color="primary" (click)="guardarBanco(banco)" cdkFocusInitial>Guardar</button>
</div>
