<div class="modal-content-wrapper">
  <header class="modal-header">
    <h1 class="modal-title">Nuevo banco</h1>
  </header>
  <section class="modal-body">
    <form [formGroup]="bancoForm" >
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" required>
        <mat-error *ngIf="bancoForm.controls.nombre.errors">
          Nombre es<strong> requerido</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Abreviatura</mat-label>
        <input matInput formControlName="abreviatura">
      </mat-form-field>
    </p>
    </form>
  </section>
  <footer class="modal-footer">
    <button mat-raised-button color="warn" (click)="close()">Cerrar</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Guardar</button>
  </footer>
</div>
