<div class="d-flex justify-content-center py-5">
  <div class="card">
    <div class="card-header">
      <h3> Cambio de contraseña</h3>
    </div>
    <div class="card-body">
      <form #f="ngForm" class="col-12">
        <h4 style="color: white" align="center"> Usuario: {{nombreUsuario}}</h4>
        <br>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-key"></i>
            </span>
          </div>
          <input [type]="viewPassword?'password' :'text'"
                 class="form-control" name="password" maxlength="15"
                 id="password" placeholder="ingrese nueva contraseña"
                 [(ngModel)]="passwordInicial" required autocomplete="off"
                 (keyup)="validarSize($event)"
                 (keyup)="validarNumber($event)"
                 (keyup)="validarMinusculas($event)"
                 (keyup)="validarMayusculas($event)"/>
          <button mat-icon-button matSuffix (click)="viewPassword = !viewPassword" style="color: #ffc312">
            <mat-icon>{{viewPassword ? "visibility_off" : "visibility"}}</mat-icon>
          </button>
        </div>

        <br>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input [type]="viewPassRepete?'password' :'text'"
                 class="form-control" name="passwordRepet"
                 placeholder="repetir contraseña"
                 [(ngModel)]="passwordRepet" required autocomplete="off"/>
          <button mat-icon-button matSuffix (click)="viewPassRepete = !viewPassRepete" style="color: #ffc312">
            <mat-icon>{{viewPassRepete ? "visibility_off" : "visibility"}}</mat-icon>
          </button>
        </div>
        <br>
        <label *ngIf="sizeMin" style="color: #f44336; font-size: 130%">
          contraseña debe contener <b> como minimo 8 caracteres</b>
        </label>
        <label *ngIf="sizeMax" style="color: #f44336; font-size: 130%">
          contraseña debe contener <b> como maximo 14 caracteres</b>
        </label>
        <label *ngIf="errorNumber" style="color: #f44336; font-size: 130%">
          contraseña debe contener <b> como minimo 1 número</b>
        </label>
        <label *ngIf="errorLetraMin" style="color: #f44336; font-size: 130%">
          contraseña debe contener <b> como minimo 1 minuscula</b>
        </label>
        <label *ngIf="errorLetraMay" style="color: #f44336; font-size: 130%">
          contraseña debe contener <b> como minimo 1 mayuscula</b>
        </label>
        <div *ngIf="f.submitted && isPasswordFail" style="color: #f44336; font-size: 150%" class="text-center">
          <b> Error: {{errMsj}}</b>
        </div>
        <br>
        <br>
        <div class="row col-12 d-flex justify-content-center">
          <button class="btn btn-outline-danger" (click)="back()">
            Cancelar
          </button>
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <!--          <button class="btn login_btn "(ngSubmit)="onResetPassword()"-->
          <button class="btn login_btn " (click)="onResetPassword()"
                  [disabled]="!f.valid || sizeMin || sizeMax || errorNumber || errorLetraMin || errorLetraMay">
            Guardar nueva contraseña
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

