<div class="container">
  <header class="modal-header modal-header-size">
    <h1 class="modal-title" *ngIf="!consultar">Nueva Venta</h1>
    <h1 class="modal-title" *ngIf="consultar">Consultar de venta</h1>
  </header>
  <section class="modal-body">
    <form [formGroup]="ventaForm" class="py3">
      <div class="form row justify-content-center">
        <div class="col-md-5">
          <div class="col-md-12" appearance="legacy">
            <div class="col-md-12">
              <h3 class="text-center">
                <b> Datos del cliente <i class="fas fa-user-alt fa-sh"></i></b>
              </h3>
            </div>
            <!--            <div class="col-md-10">-->
            <!--              <button class="btn btn-warning btn-block">-->
            <!--                algo-->
            <!--              </button>-->
            <!--            </div>-->
            <!--            <div class="col-md-2">-->
            <!--              <button class="btn btn-danger btn-block">-->
            <!--                despues-->
            <!--              </button>-->
            <!--            </div>-->
            <mat-form-field [ngClass]="consultar? 'col-md-12': 'col-md-10'" appearance="legacy">
              <mat-label> Cliente</mat-label>
              <mat-select [(ngModel)]="idClient" name="cliente" formControlName="nombreCliente" autocomplete="off">
                <mat-option *ngFor="let cli of clients" [value]="cli.id">
                  {{cli.nombre}},{{cli.apellido}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div [ngClass]="consultar ? 'col-md-2': 'col-md-2'">
              <button>
                +
              </button>
            </div>
            <br>
            <br>
            <div class="col-md-12" appearance="fill">
              <div>
                <h4 class="text-center">
                  <b> Datos de Producto
                    <i class="fas fa-shopping-cart"></i></b>
                </h4>
              </div>
              <!--              <div class="col-md-12">-->
              <!--                <i class="fas fa-search"></i>-->
              <!--                <input class="col-12 position-relative has-icon-right searchDiv"-->
              <!--                       type="text" [(ngModel)]="busqueda" class="form-control searchText"-->
              <!--                       placeholder="busqueda de articulo" (keyup)="filtrarArticulo()"-->
              <!--                />-->
              <!--              </div>-->
            </div>
            <!--            <mat-form-field class="col-md-6" appearance="legacy">-->
            <mat-label> Codigo articulo</mat-label>
            <!--              <input matInput type="text" autocomplete="off">-->
            <input type="text" class="form-control searchText" placeholder="ingrese busqueda"
              (keyup)="filtrarArticulo($event)" />
            <!--            </mat-form-field>-->
            <mat-form-field class="col-md-6" appearance="legacy" autocomplete="off">
              <label>
                {{article.nombre}}
              </label>
            </mat-form-field>
            <mat-form-field class="col-md-6" appearance="legacy">
              <!--              <mat-label> Datos de Cliente</mat-label>-->
              <label> {{article.codigoArt}}</label>
            </mat-form-field>
            <mat-form-field class="col-md-6" appearance="legacy">
              <mat-label> Datos de Cliente</mat-label>
              <input matInput type="text">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-7">
          <!--          <div class="col-md-12" appearance="fill">-->
          <div>
            <h3 class="text-center">
              <b> Datos de venta
                <i class="fas fa-shopping-cart "></i>
              </b>
            </h3>
          </div>
          <table class="table table-striped table-bordered">
            <thead class="table-dark">
              <tr>
                <th scope="col">NRO</th>
                <th scope="col">CODIGO</th>
                <th scope="col">ARTICULO</th>
                <th scope="col">CANTIDAD</th>
                <th scope="col">TOTAL</th>
              </tr>
            </thead>
            <tbody *ngIf="ventas != null">
              <tr *ngFor="let venta of ventasFilter" class="text-center">
                <td>{{ venta.nro }}</td>
                <td>{{ venta.fecha | uppercase }}</td>
                <td>{{ venta.nombreCliente | uppercase }}</td>
                <td>{{ venta.monto}}</td>
                <td>
                  {{total + venta.monto}}
                </td>
              </tr>
            </tbody>
          </table>
          <!--            <mat-form-field class="col-md-4" appearance="legacy">-->
          <!--              <mat-label> Datos de venta1</mat-label>-->
          <!--              <input matInput type="text">-->
          <!--            </mat-form-field>-->
          <!--            <mat-form-field class="col-md-8" appearance="legacy">-->
          <!--              <mat-label> Datos dse producto</mat-label>-->
          <!--              <input matInput type="text">-->
          <!--            </mat-form-field>-->
          <!--          </div>-->
        </div>
      </div>
    </form>
  </section>
  <!--  <footer class="modal-footer">-->
  <button class="btn btn-outline-danger" (click)="close()">Cerrar</button>
  <!--    <button *ngIf="!consultar" class="btn btn-warning" (click)="onSubmit()">Guardar</button>-->
  <!--  </footer>-->
</div>