.container-fluid {
    background-color: rgba(255, 255, 255, 0.9555);
    padding: 2rem;
}

hr {
    margin: .5rem;
}

.fa-chevron-left {
    font-size: 1.5rem !important;
}

@media screen and (max-width: 768px) {
    .container-fluid {
        padding: 1rem;
    }

    .text-center {
        font-size: large;
    }

    .fa-chevron-left {
        font-size: 1rem !important;
    }

    .m-2 {
        margin: 0 !important;
    }

    .p-2 {
        padding: 0 !important;
    }
}