table {
    width: 100%;
}

.table-reporte {
    margin: 2rem 0;
}

.mat-header-cell {
    text-align: center !important;
    color: black !important;

}

.mat-cell {
    text-align: center;
    color: black;
}