<div class="d-flex flex-row justify-content-between">
  <section class="col-md-3 d-flex flex-column justify-content-between scrollable view ">
    <button class="btn btn-warning my-1" (click)="trazarRuta()">Trazar Ruta</button>
    <button class="btn btn-danger my-1" (click)="volverAtras()">Volver atras</button>
    <button class="btn btn-primary my-1" (click)="recargarDatos()">Recargar Datos</button>
    <div class="d-flex flex-column justify-content-between scrollable view ">
      <app-card-parada class="w-100 mb-2" (agregarParada)="agregarParada($event)" [parada]="parada" *ngFor="let parada of paradas">
      </app-card-parada>
    </div>

  </section>
  <section class="d-flex justify-content-center map">
    <app-loading *ngIf="!isUserLocationReady;else mapReady"></app-loading>
    <ng-template #mapReady>
      <app-view-map class="col-md-12" [draggable]="false">
      </app-view-map>
    </ng-template>
  </section>
</div>