<!--<app-menu></app-menu>-->
<div class="fondo">
  <div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2> ¡Usted ya esta Logueado!</h2>
  </div>
  <ng-template #loggedOut>
    <div class="d-flex justify-content-center h-100 centro">
      <div class="card">
        <div class="card-header ">
          <h3> Login</h3>
        </div>
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                           <span class="input-group-text">
                                <i class="fas fa-user"></i>
                           </span>
              </div>
              <input type="text" name="nombreUsuario" id="nombreUsuario"
                     class="form-control" placeholder="nombre de usuario"
                     [(ngModel)]="nombreUsuario" required autocomplete="off"/>
            </div>
            <br>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" name="password"
                     id="password" placeholder="ingrese contraseña"
                     [(ngModel)]="password" required autocomplete="off"/>
            </div>
            <br>
            <div class="form-group">
              <button class="btn btn-block login_btn" [disabled]="!f.valid">
                Iniciar Sesion
              </button>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div *ngIf="f.submitted && isLoginsFail" style="color: #f44336; font-weight: bold" class="text-center">
            Error en login: {{errMsj}}
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
