<section class="fondo">
  <div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2 class="mt-5"> ¡Usted ya esta Logueado!</h2>
  </div>
  <ng-template #loggedOut>
    <div class="d-flex justify-content-center centro">
      <div class="card">
        <div class="card-header ">
          <h3 class="text-center">
            Login de usuario
          </h3>
        </div>
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
            <div class="row">
              <div class="input-group form-group col-md-12 col-sm-12 my-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control" placeholder="nombre de usuario" [(ngModel)]="nombreUsuario" required autocomplete="off" />
              </div>
              <div class="input-group form-group col-md-12 col-sm-12 my-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-key"></i>
                  </span>
                </div>
                <input [type]="viewPassword?'password' :'text'" class="form-control" name="password" id="password" placeholder="ingrese contraseña" [(ngModel)]="password" required autocomplete="off" />
                <button mat-icon-button matSuffix (click)="viewPassword = !viewPassword" style="color: #ffc312">
                  <mat-icon>{{viewPassword ? "visibility_off" : "visibility"}}</mat-icon>
                </button>
              </div>
              <div class="form-group col-md-12 col-sm-12 my-3">
                <button class="btn btn-block login_btn" [disabled]="!f.valid">
                  Iniciar Sesion
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div *ngIf="f.submitted && isLoginsFail" class="text-center message">
            Error en login:<span> {{errMsj}}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</section>