<div class="fondo">
  <div>
    <div class="text-center" *ngIf="isLogged; else loggedOut">
      <h2> ¡Usted ya esta Logueado!</h2>
    </div>
    <ng-template #loggedOut>
      <div class="d-flex justify-content-center h-100 centro">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs">
              <li class=" nav-item">
                <a class="nav-link active" routerLink="/login"> Iniciar sesion</a>
              </li>
              <li class=" nav-item">
                <a class="nav-link " routerLink="/logout"> Crear Cuenta</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
              <div class="input-group form-group">
                <div class="input-group-prepend">
               <span class="input-group-text">
                    <i class="fas fa-user"></i>
               </span>
                </div>
                <!--            <label for="nombreUsuario"> Nombre de Usuario</label>-->
                <input type="text" name="nombreUsuario" id="nombreUsuario"
                       class="form-control" placeholder="nombre de usuario"
                       [(ngModel)]="nombreUsuario" required autocomplete="off"/>
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <!--            <label for="password"> Contraseña</label>-->
                <input type="password" class="form-control" name="password"
                       id="password" placeholder="ingrese contraseña"
                       [(ngModel)]="password" required autocomplete="off"/>
              </div>

              <div class="form-group">
                <button class="btn btn-block login_btn" [disabled]="!f.valid">
                  Iniciar Sesion
                </button>
              </div>
              <!--            <div class="row align-items-center remember">-->
              <!--              <input type="checkbox"/>Almacenar-->
              <!--            </div>-->
              <!--            <div class="form-group">-->
              <!--              <button-->
              <!--                class="btn btn-block login_btn">-->
              <!--                Login-->
              <!--              </button>-->
              <!--              &lt;!&ndash; <input type="submit" value="Login" class="btn float-right login_btn"> &ndash;&gt;-->
              <!--            </div>-->
              <!--              <ul class="nav nav-tabs">-->
              <!--                <li class=" nav-item">-->
              <!--                  <a class="nav-link active" routerLink="/login"> Iniciar sesion</a>-->
              <!--                </li>-->
              <!--                <li class=" nav-item">-->
              <!--                  <a class="nav-link " routerLink="/logout"> Crear Cuenta</a>-->
              <!--                </li>-->
              <!--              </ul>-->
            </form>

          </div>
          <div class="card-footer">
            <div *ngIf="f.submitted && isLoginsFail" class="alert alert-danger mt-3">
              Error en login: {{errMsj}}
            </div>

            <!--          <div class="d-flex justify-content-center links">-->
            <!--            <a href="#" class="nav-link active" routerLink="/login">Iniciar Sesion</a>-->
            <!--          </div>-->
            <!--          <div class="d-flex justify-content-center links">-->
            <!--            <a href="#" class="nav-link " routerLink="/logout">Iniciar Sesion</a>-->
            <!--          </div>-->
            <!--          <div class="d-flex justify-content-center">-->
            <!--            <a href="#">Forgot your password?</a>-->
            <!--          </div>-->
            <!--          <ul class="nav nav-tabs">-->
            <!--            <li class=" nav-item">-->
            <!--              <a class="nav-link active" routerLink="/login"> Iniciar sesion</a>-->
            <!--            </li>-->
            <!--            <li class=" nav-item">-->
            <!--              <a class="nav-link " routerLink="/logout"> Crear Cuenta</a>-->
            <!--            </li>-->
            <!--          </ul>-->
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<!--<div class="fondo">-->
<!--  <div>-->
<!--    <div class="d-flex justify-content-center h-100 centro">-->
<!--      <div class="card">-->
<!--        <div class="card-header">-->
<!--          <h3>Login</h3>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          <form>-->
<!--            <div class="input-group form-group">-->
<!--              <div class="input-group-prepend">-->
<!--                <span class="input-group-text"-->
<!--                ><i class="fas fa-user"></i-->
<!--                ></span>-->
<!--              </div>-->
<!--              <input-->
<!--                type="text"-->
<!--                class="form-control"-->
<!--                name="nombreUsuario"-->
<!--                placeholder="username"-->
<!--                [(ngModel)]="nombreUsuario"-->
<!--              />-->
<!--            </div>-->
<!--            <div class="input-group form-group">-->
<!--              <div class="input-group-prepend">-->
<!--                <span class="input-group-text"><i class="fas fa-key"></i></span>-->
<!--              </div>-->
<!--              <input-->
<!--                type="password"-->
<!--                class="form-control"-->
<!--                name="password"-->
<!--                placeholder="password"-->
<!--                [(ngModel)]="password"-->
<!--              />-->
<!--            </div>-->
<!--            <div class="row align-items-center remember">-->
<!--              <input type="checkbox" />Almacenar-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <button-->
<!--                (click)="chequearLogueo()"-->
<!--                class="btn btn-block login_btn"-->
<!--              >-->
<!--                Login-->
<!--              </button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
