<div class="text-center">
  <h2> ya has iniciago sesion</h2>
</div>
<ng-template #loggedOut>
  <div class="container d-flex justify.content-center">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs">
          <li class=" nav-item">
            <a class="nav-link active" routerLink="/login"> Iniciar sesion</a>
          </li>
          <li class=" nav-item">
            <a class="nav-link " routerLink="/logout"> Crear Cuenta</a>
          </li>

        </ul>
      </div>
      <div class="card-body">


      </div>

    </div>

  </div>
</ng-template>
