<div class="container-fluid container-venta">
  <template-header backRoute="/ventas/listar-venta" title="Agregar venta">
  </template-header>
  <form [formGroup]="ventaForm" *ngIf="ventaForm" class="p-3">
    <div class="row">
      <section class="col-md-4 col-sm-12 carga">
        <div class="row p-2">
          <mat-form-field class="col-md-12 col-sm-12">
            <mat-label>Cliente</mat-label>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let cliente of filteredClient | async" [value]="cliente.idCliente">
                {{cliente.apellido}}, {{cliente.nombre}}
              </mat-option>
            </mat-autocomplete>
            <input matInput [matAutocomplete]="auto" formControlName="idCliente">
          </mat-form-field>
        </div>
      </section>

      <section class="col-md-8 col-sm-12 formulario">
        <div class="row p-2">
          <mat-form-field class="col-md-6 col-sm-12" appearance="legacy">
            <mat-label>Razon Social</mat-label>
            <input matInput autocomplete="off" formControlName="razonSocial" />
          </mat-form-field>
          <mat-form-field class="col-md-6 col-sm-12" appearance="legacy">
            <mat-label>CUIT</mat-label>
            <input matInput autocomplete="off" formControlName="cuit" />
          </mat-form-field>
          <mat-form-field class="col-md-6 col-sm-12" appearance="legacy">
            <mat-label>telefono</mat-label>
            <input matInput autocomplete="off" formControlName="telefono" />
          </mat-form-field>
          <mat-form-field class="col-md-6 col-sm-12" appearance="legacy">
            <mat-label>email</mat-label>
            <input matInput autocomplete="off" formControlName="email" />
          </mat-form-field>
          <mat-form-field class="col-md-6 col-sm-12" appearance="legacy">
            <mat-label>Domicilio</mat-label>
            <input matInput autocomplete="off" formControlName="domicilio" />
          </mat-form-field>
        </div>
      </section>
    </div>
  </form>
</div>