<div class="container">
  <div class="card">
    <header class="row mt-4 ml-3 mb-3">
      <i
        class="col-md-2 m-0 fas fa-chevron-left fa-3x"
        style="margin-right: 100%"
        (click)="backPage()"
      ></i>
      <h1 class="m-0 col-md-10" style="padding-left: 10rem !important">
        Direcciones del cliente
      </h1>
    </header>

    <div class="row card-body">
      <section class="container">
        <div class="row col-12 d-flex justify-content-between">
          <label class="col-5 m-0 p-0"><h3>Busqueda:</h3></label>

          <div class="col-12 m-0 p-0 aligth">
            <input
              class="col-12 position-relative has-icon-right searchDiv"
              type="text"
              class="form-control searchText"
              placeholder="ingrese busqueda"
            />
<!--            [(ngModel)]="busqueda"-->
<!--            (keyup)="filtrarCliente()"-->
          </div>
        </div>

        <br/>
        <!-- </div>
      <div class="container"> -->
        <div class="row col-12 d-flex justify-content-end">
          <button class="btn btn-outline-danger" >
            <i class="fas fa-file-pdf fa-2x"></i>
          </button>

          <button class="btn btn-outline-success" >
            <i class="far fa-file-excel fa-2x"></i>
          </button>
          <button
            mat-raised-button
            color="primary"
            title="Nueva Marca"
            (click)="newDireccion()"
          >
            <i class="fas fa-map-signs"></i>
            Nueva Direccion
          </button>
        </div>
      </section>

      <div
        class="card-body p-0"
        style="width: 1100px; height: 450px; overflow: auto;"
      >
        <table class="table table-striped">
          <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col ">Calle</th>
            <th scope="col ">Numero</th>
            <th scope="col ">Habilitacion</th>
            <th scope="col*2 ">Opciones</th>
          </tr>
          </thead>
          <tbody *ngIf="direcciones != null">
          <tr *ngFor="let direccion of direcciones" class="text-center">
            <td>{{direccion.calle}}</td>
            <td>{{direccion.numerocalle}}</td>
            <td>
              <mat-slide-toggle
                [checked]="direccion.estado"
                (click)="showModal(direccion)"
                color="primary"
              ></mat-slide-toggle>
            </td>
            <td>
              <button class="btn btn-default m-0 p-0" title="Consultar">
                <i class="fas fa-info-circle"></i>
              </button>
              &nbsp;
              <button
                class="btn btn-default m-0 p-0"
                title="Modificar "
                (click)="newDireccion()"
              >
                <i class="fas fa-user-edit"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
