<!--<div class="container" style="color: white">-->
  <div class="container">
    <div class="py-3">
      <h1 style="text-align: center" *ngIf="!updating">Agregar nuevo articulo</h1>
      <h1 style="text-align: center" *ngIf="updating">Actualizar articulo</h1>
    </div>
    <hr>
    <section>
      <form [formGroup]="articuloForm" class="py-2">
        <div class="form-row justify-content-center">
          <mat-form-field class="col-md-5 py-3" appearance="legacy">
            <mat-label>Codigo</mat-label>
            <input matInput formControlName="codigo" required
                   autocomplete="off"
                   (keyup)="validarcodigo($event)"/>
            <mat-error *ngIf="articuloForm.controls.codigo.errors">
              Código es <strong>requerido</strong>
            </mat-error>
            <label *ngIf="codigoRepe" style="color: #f44336; font-size: 75%"> Códígo repetido</label>
          </mat-form-field>

          <mat-form-field class="col-md-5" appearance="fill">
            <mat-label> Unidad de Medida</mat-label>
            <mat-select
              [(ngModel)]="unidadMedidaSelect"
              name="unidad medida"
              formControlName="unidadMedidaId"
              autocomplete="off">
              <mat-option *ngFor="let unMed of unidadMedidas" [value]="unMed.nombre">
                {{ unMed.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="articuloForm.controls.unidadMedidaId.errors">
              unidad de medida es<strong> requerido</strong>
            </mat-error>
          </mat-form-field>

          <div class="col-md-1" *ngIf="!updating">
            <button mat-fab color="primary"
                    (click)="newUnidadMedida()">
              <mat-icon>
                <i class="fas fa-ruler"></i>
              </mat-icon>
            </button>
          </div>
          <mat-form-field class="col-md-5 py-3" appearance="legacy">
            <mat-label> Nombre</mat-label>
            <input matInput formControlName="nombre" required
                   autocomplete="off"
                   (keyup)="validarNombre($event)"/>
            <mat-error *ngIf="articuloForm.controls.nombre.errors">
              Nombre es <strong>requerido</strong>
            </mat-error>
            <label *ngIf="nombreRepe" style="color: #f44336; font-size: 75%">Nombre repetido</label>
          </mat-form-field>

          <mat-form-field class="col-md-5" appearance="fill">
            <mat-label> Rubro</mat-label>
            <mat-select
              [(ngModel)]="rubroSelect"
              name="rubro"
              formControlName="rubroId"
              autocomplete="off">
              <mat-option *ngFor="let rub of rubros" [value]="rub.nombre">
                {{ rub.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="articuloForm.controls.rubroId.errors">
              rubro es<strong> requerido</strong>
            </mat-error>
          </mat-form-field>
          <div class="col-md-1" *ngIf="!updating">
            <button mat-fab color="primary"
                    (click)="newRubro()">
              <mat-icon>
                <i class="fas fa-archive"></i>
              </mat-icon>
            </button>
          </div>

          <mat-form-field class="col-md-5 py-3" appearance="legacy">
            <mat-label>Abreviatura</mat-label>
            <input matInput formControlName="abreviatura" required
                   autocomplete="off"
                   (keyup)="validarAbreviatura($event)"/>
            <mat-error *ngIf="articuloForm.controls.abreviatura.errors">
              Abrevaitura es <strong>requerido</strong>
            </mat-error>
            <label *ngIf="abreviaturaRepe" style="color: #f44336; font-size: 75%">Abreviatura esta repetido</label>
          </mat-form-field>

          <mat-form-field class="col-md-5" appearance="fill">
            <mat-label> SubRubro</mat-label>
            <mat-select
              [(ngModel)]="subRubroSelect"
              name="rubro"
              formControlName="subRubroId"
              autocomplete="off">
              <mat-option *ngFor="let subRub of subRubros" [value]="subRub.nombre">
                {{ subRub.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="articuloForm.controls.subRubroId.errors">
              rubro es<strong> requerido</strong>
            </mat-error>
          </mat-form-field>
          <div class="col-md-1" *ngIf="!updating">
            <button mat-fab color="primary"
                    (click)="newSubRubro()">
              <mat-icon>
                <i class="fas fa-folder-open"></i>
              </mat-icon>
            </button>
          </div>
          <mat-form-field class="col-md-3 py-3" appearance="legacy">
            <mat-label>Stock min</mat-label>
            <input matInput formControlName="stockMin"
                   autocomplete="off" type="number" min="0" maxlength="8"
                   oninput="this.value=this.value.slice(0,this.maxLength|| 0/0);this.value=(this.value< 0) ? (0/0) : this.value;"/>
          </mat-form-field>
          <mat-form-field class="col-md-2 py-3" appearance="legacy">
            <mat-label>Stock max</mat-label>
            <input matInput formControlName="stockMax"
                   autocomplete="off" type="number" min="0" maxlength="8"
                   oninput="this.value=this.value.slice(0,this.maxLength|| 0/0);this.value=(this.value< 0) ? (0/0) : this.value;"/>
          </mat-form-field>
          <mat-form-field class="col-md-5" appearance="fill">
            <mat-label> Marca</mat-label>
            <mat-select
              [(ngModel)]="marcaSelect"
              name="marca"
              formControlName="marcaId"
              autocomplete="off">
              <mat-option *ngFor="let marca of marcas" [value]="marca.nombre">
                {{ marca.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="articuloForm.controls.marcaId.errors">
              marca es<strong> requerido</strong>
            </mat-error>
          </mat-form-field>
          <div class="col-md-1" *ngIf="!updating">
            <button mat-fab color="primary"
                    (click)="newMarca()">
              <mat-icon>
                <i class="fas fa-tag"></i>
              </mat-icon>
            </button>
          </div>
          <mat-form-field class="col-md-3 py-3" appearance="legacy">
            <mat-label>Costo</mat-label>
            <input matInput formControlName="costo"
                   autocomplete="off" type="number" min="0" maxlength="8"
                   oninput="this.value=this.value.slice(0,this.maxLength|| 0/0);this.value=(this.value< 0) ? (0/0) : this.value;"/>
            <mat-error *ngIf="articuloForm.controls.costo.errors">
              Costo es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-2 py-3" appearance="legacy">
            <mat-label>Precio</mat-label>
            <input matInput formControlName="precio"
                   autocomplete="off" type="number" min="0" maxlength="8"
                   oninput="this.value=this.value.slice(0,this.maxLength|| 0/0);this.value=(this.value< 0) ? (0/0) : this.value;"/>
            <mat-error *ngIf="articuloForm.controls.nombre.errors">
              Precio es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-5" appearance="fill">
            <mat-label> Proveedor</mat-label>
            <mat-select
              [(ngModel)]="proveedorSelect"
              name="proveedor"
              formControlName="proveedorId"
              autocomplete="off">
              <mat-option *ngFor="let prov of proveedores" [value]="prov.razonSocial">
                {{ prov.razonSocial }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="articuloForm.controls.proveedorId.errors">
              proveedor es<strong> requerido</strong>
            </mat-error>
          </mat-form-field>
          <div class="col-md-1" *ngIf="!updating">
            <button mat-fab color="primary"
                    (click)="newProveedor()">
              <mat-icon>
                <i class="fas fa-user-tie"></i>
              </mat-icon>
            </button>
          </div>

        </div>

      </form>
    </section>
    <hr>
    <div class="text-right py-3">
      <button (click)="closeForm()" class="btn btn-outline-danger">
        Cancelar
      </button>
      &nbsp;
      &nbsp;
      <button (click)="onSubmit()" class="btn btn-warning">
        Aceptar
      </button>
      &nbsp;
      &nbsp;
    </div>
  </div>
<!--</div>-->

