<!-- <div class="container">
  <div class="card">
    <header class="row mt-4 ml-3 mb-3">
      <i class="col-md-2 m-0 fas fa-chevron-left fa-3x" style="margin-right: 100%" (click)="backPage()">
      </i>
      <h1 class="m-0 col-md-10" style="padding-left: 14rem !important">
        Lista de clientes
      </h1>
    </header>
    <div class="row card-body">
      <section class="container">
        <div class="row col-12 d-flex justify-content-between">
          <label class="col-5 m-0 p-0">
            <h3>Busqueda:</h3>
          </label>
          <div class="col-12 m-0 p-0 aligth">
            <input class="col-12 position-relative has-icon-right searchDiv" type="text" [(ngModel)]="busqueda"
              class="form-control searchText" placeholder="ingrese busqueda" (keyup)="filtrarCliente()" />
          </div>
        </div>
        <br />
        <div class="row col-12 d-flex justify-content-end">
          <button (click)="exportarPDF()" class="btn btn-outline-danger">
            <i class="fas fa-file-pdf fa-lg"></i>
          </button>
          &nbsp;
          <button (click)="exportarExcel()" class="btn btn-outline-success">
            <i class="far fa-file-excel fa-lg"></i>
          </button>
          &nbsp;
          <button (click)="newClient()" mat-raised-button color="primary" title="Nueva Marca">
            <i class="fas fa-user"></i>
            Nuevo Cliente
          </button>
        </div>
      </section>
      <div class="card-body p-0" style="width: 1100px; height: 450px; overflow: auto;">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr class="text-center">
              <th scope="col ">Nombre</th>
              <th scope="col ">Apellido</th>
              <th scope="col ">D.N.I.</th>
              <th scope="col " *ngIf="isAdmin||isGerente">Habilitacion</th>
              <th scope="col*2 ">Opciones</th>
            </tr>
          </thead>
          <tbody *ngIf="clientes != null">
            <tr *ngFor="let cliente of clientesFilter" class="text-center">
              <td>{{ cliente.nombre | uppercase }}</td>
              <td>{{ cliente.apellido | uppercase }}</td>
              <td>{{ cliente.dni }}</td>
              <td *ngIf="isAdmin||isGerente">
                <mat-slide-toggle [checked]="cliente.estado" (click)="showModal(cliente)" color="primary">
                </mat-slide-toggle>
              </td>
              <td>
                <button class="btn btn-default m-0 p-0" title="Consultar" (click)="readClient(cliente)">
                  <i class="fas fa-exclamation"></i>
                </button>
                &nbsp;
                <button (click)="editClient(cliente)" class="btn btn-default m-0 p-0" title="Modificar ">
                  <i class="fas fa-user-edit"></i>
                </button>
                &nbsp;
                <button (click)="direcciones(cliente.id)" class="btn btn-default m-0 p-0" title="Direcciones ">
                  <i class="fas fa-map-marker-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->

<template-page [title]="'Clientes'" [backRoute]="'ventas'" [titleButton]="'Nuevo Cliente'"
  (filtro)="filtrarClient($event)" (onClickButton)="newClient()">
  <div>
    <table class="w-100" mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido</th>
        <td mat-cell *matCellDef="let row"> {{row.apellido | titlecase}} </td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
        <td mat-cell *matCellDef="let row"> {{row.nombre | titlecase}} </td>
      </ng-container>
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI</th>
        <td mat-cell *matCellDef="let row"> {{row.dni}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email</th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Habilitado</th>
        <td mat-cell *matCellDef="let row">
          <mat-slide-toggle [checked]="row.status" (click)="showModal(row)" color="primary">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones</th>
        <td mat-cell *matCellDef="let row">
          <button class="btn btn-default m-0 p-0" title="Consultar" (click)="readClient(row)">
            <i class="fas fa-exclamation"></i>
          </button>
          &nbsp;
          <button (click)="editClient(row)" class="btn btn-default m-0 p-0" title="Modificar ">
            <i class="fas fa-user-edit"></i>
          </button>
          &nbsp;
          <button (click)="direcciones(row.id)" class="btn btn-default m-0 p-0" title="Direcciones ">
            <i class="fas fa-map-marker-alt"></i>
          </button>
        </td> -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="10">
          <h4>
            No se encontraron resultados para esta busqueda...
          </h4>
        </td>
      </tr>

    </table>
    <!-- <table class="w-100" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="razonSocial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Razon Social</th>
        <td mat-cell *matCellDef="let row"> {{row.razonSocial}} </td>
      </ng-container>
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Tel. Fijo</th>
        <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email</th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
      <ng-container matColumnDef="habilitado">
        <th mat-header-cell *matHeaderCellDef> Habilitado</th>
        <td mat-cell *matCellDef="let row">
          <mat-slide-toggle [checked]="row.habilitado" (click)="showModal(row)" color="primary">
          </mat-slide-toggle>
        </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Opciones</th>
        <td mat-cell *matCellDef="let row">
          <button class="btn btn-default select" title="Consultar" (click)="consultarProveedor(row)">
            <i class="fas fa-exclamation"></i>
          </button>
          <button class="btn btn-default select" title="Modificar " (click)="modificarProveedor(row)"
            *ngIf="mostrarModificacion">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button class="btn btn-default select" title="Cuentas bancarias" (click)="cuentaProveedor(row.idProveedor)">
            <i class=" fas fa-money-check-alt"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="10">
          <h4>
            No se encontraron resultados para esta busqueda...
          </h4>
        </td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator> -->
  </div>
</template-page>