<template-page [title]="'Clientes'" [backRoute]="'ventas'" [titleButton]="'Nuevo Cliente'"
  (filtro)="filtrarClient($event)" (onClickButton)="newClient()">
  <div>
    <table class="w-100" mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido</th>
        <td mat-cell *matCellDef="let row"> {{row.apellido | titlecase}}, {{row.nombre | titlecase}} </td>
      </ng-container>
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI</th>
        <td mat-cell *matCellDef="let row"> {{row.dni}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email</th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Habilitado</th>
        <td mat-cell *matCellDef="let row">
          <mat-slide-toggle [checked]="row.status" (click)="showModal(row)" color="primary">
          </mat-slide-toggle>
        </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Opciones</th>
        <td mat-cell *matCellDef="let row">
          <button class="btn btn-default select" title="Consultar" (click)="consultClient(row)">
            <i class="fas fa-exclamation"></i>
          </button>
          <button class="btn btn-default select" title="Modificar" (click)="updatedClient(row)">
            <i class="fas fa-pencil-alt"></i>

          </button>
          <button class="btn btn-default select" title="Direcciones" (click)="direcciones(row.idCliente)">
            <i class="fas fa-map-marker-alt"></i>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="10">
          <h4>
            No se encontraron resultados para esta busqueda...
          </h4>
        </td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</template-page>