<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="card-body m-2" *ngIf="isLogged">
      <ul class="navbar-nav mr-autor trans">
        <td>
          <button [routerLink]="['departamentos']" routerLinkActive="active"
                  class="btn btn-outline-warning" style="width: 250px; height: 150px;">
            <i class="fas fa-map-marker-alt fa-5x"></i>
            <h4>DEPARTAMENTOS</h4>
          </button>
          &nbsp;
          <button [routerLink]="['distritos']"
                  routerLinkActive="active" class="btn btn-outline-warning"
                  style="width: 250px; height: 150px;">
            <i class="fal fa-map-marker-alt fa-5x"></i>
            <h4>DISTRITOS</h4>
          </button>
        </td>
      </ul>
    </div>
  </div>
</nav>
