.card {
  height: auto;
  margin-top: 2rem;
  width: auto;
  background-color: rgba(254, 254, 254, .9555);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2 1 2px;
}


.login_btn {
  color: black;
  background-color: #ffbf00;
}

.titulo {
  color: black;
  font-size: xx-large;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.usuario-data {
  color: black;
  font-size: xx-large;
  margin: 1rem 0;
}

.validacion {
  color: red;
  font-size: large;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }

  .titulo {
    font-size: large;
  }

  .usuario-data {
    font-size: large;
  }

  .validacion {
    font-size: small;
  }
}