<div class="container">
  <div class="card row">
    <div class="align-text-center col-md-12 col-sm-12">
      <h3 class="titulo"> Cambio de contraseña</h3>
    </div>
    <mat-divider></mat-divider>
    <div class="col-md-12 col-sm-12">
      <form #f="ngForm" class="row justify-content-around">
        <h4 class="usuario-data col-md-10 col-sm-12"> Usuario: {{nombreUsuario}}</h4>
        <hr>
        <div class="input-group form-group col-md-8 col-sm-12">
          <input [type]="viewPassword?'password' :'text'" class="form-control " name="password" maxlength="15" id="password" placeholder="ingrese nueva contraseña" [(ngModel)]="passwordInicial" required autocomplete="off" (keyup)="validarSize($event)" (keyup)="validarNumber($event)" (keyup)="validarMinusculas($event)" (keyup)="validarMayusculas($event)" />
          <button mat-icon-button matSuffix (click)="viewPassword = !viewPassword">
            <mat-icon>{{viewPassword ? "visibility_off" : "visibility"}}</mat-icon>
          </button>
        </div>
        <div class="input-group form-group col-md-8 col-sm-12">
          <input [type]="viewPassRepete?'password' :'text'" class="form-control" name="passwordRepet" placeholder="repetir contraseña" [(ngModel)]="passwordRepet" required autocomplete="off" />
          <button mat-icon-button matSuffix (click)="viewPassRepete = !viewPassRepete">
            <mat-icon>{{viewPassRepete ? "visibility_off" : "visibility"}}</mat-icon>
          </button>
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="row justify-content-center">
            <label *ngIf="sizeMin" class="validacion">
              contraseña debe contener <b> como minimo 8 caracteres</b>
            </label>
            <label *ngIf="sizeMax" class="validacion">
              contraseña debe contener <b> como maximo 14 caracteres</b>
            </label>
            <label *ngIf="errorNumber" class="validacion">
              contraseña debe contener <b> como minimo 1 número</b>
            </label>
            <label *ngIf="errorLetraMin" class="validacion">
              contraseña debe contener <b> como minimo 1 minuscula</b>
            </label>
            <label *ngIf="errorLetraMay" class="validacion">
              contraseña debe contener <b> como minimo 1 mayuscula</b>
            </label>
            <div *ngIf="f.submitted && isPasswordFail" class="validacion text-center">
              <b> Error: {{errMsj}}</b>
            </div>
          </div>

        </div>
        <div class="col-md-10 col-sm-12">
          <div class="row justify-content-between my-3">
            <button class=" col-md-5 btn btn-outline-danger my-2" (click)="back()">
              Cancelar
            </button>
            <button class="col-md-5 btn login_btn my-2" (click)="onResetPassword()" [disabled]="!f.valid || sizeMin || sizeMax || errorNumber || errorLetraMin || errorLetraMay">
              Guardar nueva contraseña
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>