<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="card-body">
      <ul class="navbar-nav mr-auto text-center trans">
        <td>
          <div class="m-3" *ngIf="isLogged">
            <button [routerLink]="['listar-banco']" routerLinkActive="active"
                    class="btn btn-outline-warning" style="width: 250px; height: 150px;">
              <i class="fas fa-university fa-6x"></i>
              <h4>Banco</h4>
            </button>
            &nbsp;
            <button [routerLink]="['listar-marca']" routerLinkActive="active"
                    class="btn btn-outline-warning" style="width: 250px; height: 150px;">
              <i class="fas fa-tags fa-5x"></i>
              <h4>Marca</h4>
            </button>
            &nbsp;
            <button [routerLink]="['listar-unidad-medida']" routerLinkActive="active"
                    class="btn btn-outline-warning" style="width: 250px; height: 150px;">
              <i class="fas fa-ruler fa-5x"></i>
              <h4>Ud. Medida</h4>
            </button>
          </div>
          <div class="m-3">
            <button [routerLink]="['listar-rubro']" routerLinkActive="active"
                    class="btn btn-outline-warning" style="width: 250px; height: 150px;">
              <i class="fas fa-archive fa-5x"></i>
              <h4>Rubros</h4>
            </button>
            &nbsp;
            <button [routerLink]="['listar-sub-rubro']" routerLinkActive="active"
                    class="btn btn-outline-warning" style="width: 250px; height: 150px;">
              <i class="fas fa-folder-open fa-5x"></i>
              <h4>Sub-rubros</h4>
            </button>
            &nbsp;
            <button [routerLink]="['listar-ajuste']" routerLinkActive="active"
                    class="btn btn-outline-warning" style="width: 250px; height: 150px;">
              <i class="fas fa-wrench fa-5x"></i>
              <h4>Ajustes</h4>
            </button>
          </div>

        </td>
      </ul>
    </div>
  </div>
</nav>
