.fondo {
  background-image: url("../assets/images/bg-05.jpg");
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: repeat;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
