<div class="container" ng-controller="marcas">
  <div class="card m-1">
    <header class="row mt-4 ml-3 mb-3">
      <i class="col-md-2 m-0 fas fa-chevron-left fa-3x"
         style="margin-right: 100%" (click)="backPage()"></i>
      <h1 class="m-0 col-md-10" style="padding-left: 10rem !important">
        Lista de marcas
      </h1>
    </header>
    <div class="row card-body">
      <div class="container mt-1">
        <div class="row col-12 d-flex justify-content-start">
          <label class="col-5 m-0 p-0">
            <h3>Busqueda:</h3>
          </label>
          <div class="col-12 m-0 p-0 aligth">
            <input class="col-12 position-relative has-icon-right searchDiv"
                   type="text" [(ngModel)]="busqueda"
                   class="form-control searchText" placeholder="ingrese busqueda"
                   (keyup)="filtrar($event)"/>
          </div>
        </div>

        <br/>
        <div class="row col-12 d-flex justify-content-end">
          <button class="btn btn-outline-danger" (click)="exportarPDF()">
            <i class="far fa-file-pdf fa-lg" title="exportar pdf"></i>
          </button>
          &nbsp;

          <button class="btn btn-outline-success" (click)="exportarExcel()">
            <i class="far fa-file-excel fa-lg" title="exportar excel"></i>
          </button>
          &nbsp;
          <button mat-raised-button color="primary"
                  (click)="newMarca()" title="Nueva Marca" *ngIf="isAdmin||isGerente">
            <i class="fas fa-tags"></i>
            Nueva Marca
          </button>
        </div>
      </div>
      <div
        class="card-body p-0"
        style="width: 1100px; height: 400px; overflow: auto"
      >
        <table class="table table-responsive-sm">
          <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col ">NOMBRE</th>
            <th scope="col ">ABREVIATURA</th>
            <th scope="col " *ngIf="isAdmin||isGerente">HABILITACIÓN</th>
            <th scope="col*2 ">OPCIONES</th>
          </tr>
          </thead>
          <tbody *ngIf="marcas != null">
          <tr *ngFor="let marca of marcaFilter" class="text-center">
            <td>{{ marca.nombre }}</td>
            <td>{{ marca.abreviatura }}</td>
            <td *ngIf="isAdmin||isGerente">
              <mat-slide-toggle
                [checked]="marca.habilitacion"
                (click)="showModal(marca)"
                color="primary"
              ></mat-slide-toggle>
            </td>

            <td>
              <button class="btn btn-default m-0 p-0" title="Consultar"
                      (click)="consultarMarca(marca)">
                <i class="fas fa-info"></i>
              </button>
              <button class="btn btn-default" title="Modificar "
                      (click)="modificarMarca(marca)" *ngIf="isAdmin||isGerente">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
