<div class="container" ng-controller="pedido">
  <div class="card m-1">
    <h1 class="text-center mt-4" *ngIf="consultar">Pedidos</h1>
    <h1 class="text-center" *ngIf="!consultar">Carga de Pedidos</h1>
    <div class="row card-body p-0 m-2">
      <div class="container">
        <div class="row ml-2 mr-2">
          <div class="col-md-6">
            <label for="nombre"> <h5>Nombre</h5></label>
            <input
              [(ngModel)]="pedido.nombre"
              type="text"
              :required
              class="form-control"
              placeholder="ingrese nombre"
              required="true"
              [disabled]="consultar"
            />
          </div>
          <div class="col-md-6">
            <label for="fecha"> <h5>Fecha</h5></label>
            <input
              id="fecha"
              [(ngModel)]="pedido.fecha"
              type="date"
              class="form-control"
              required="true"
              *ngIf="!consultar"
            />
            <label
              class="form-control"
              style="background-color: #e9ecefb7"
              *ngIf="consultar"
              >{{ pedido.fecha | date: "yyyy-MM-dd" }}</label
            >
          </div>
        </div>
        <div class="row mt-3 ml-2 mr-2">
          <div class="col-md-6">
            <label for="descripcion"> <h5>Descripción</h5></label>
            <textarea
              [(ngModel)]="pedido.descripcion"
              class="form-control"
              rows="2"
              cols="10"
              placeholder="ingrese descripcion"
              required="true"
              [disabled]="consultar"
            ></textarea>
          </div>
          <div class="col-md-6">
            <!-- <mat-label>Favorite food</mat-label>
            <mat-select>
              <mat-option *ngFor="let prov of proveedores" [value]="prov.value">
                {{ food.viewValue }}
              </mat-option>
            </mat-select> -->
            <label><h5>Proveedor</h5></label>
            <select
              (change)="listarFiltro()"
              [(ngModel)]="razonSocial"
              class="form-control"
              [disabled]="consultar"
            >
              <option value="0">Proveedores</option>
              <option *ngFor="let prov of proveedores">
                <label>{{ prov.razonSocial }}</label>
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div
      class="card-body p-0"
      style="width: 1100px; height: 450px; overflow: auto"
    >
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr class="text-lg-center">
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col" *ngIf="consultar">Stock Previo</th>
            <th scope="col" *ngIf="!consultar">Stock Actual</th>
            <th scope="col">Ingreso</th>
          </tr>
        </thead>
        <tbody *ngIf="articulos != null" class="tbody-scroll p-0 m-0">
          <tr
            *ngFor="
              let artStoMov of articulosStockMovimientoFilter;
              let i = index
            "
            class="text-center"
          >
            <td>{{ artStoMov.articulo.codigoArt }}</td>
            <td>{{ artStoMov.articulo.nombre }}</td>
            <td>{{ artStoMov.stock }}</td>
            <td>
              <input
                type="number"
                min="0"
                maxlength="8"
                (change)="guardarCarga()"
                [(ngModel)]="artStoMov.movimiento.movimiento"
                class="form-control text-center"
                oninput="this.value=this.value.slice(0,this.maxLength|| 0/0);this.value=(this.value< 0) ? (0/0) : this.value;"
                placeholder="cantidad"
                [disabled]="consultar"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-end m-2 p-2" *ngIf="!consultar">
      <button (click)="volverAtras()" class="btn btn-outline-danger">
        CANCELAR
      </button>
      &nbsp; &nbsp; &nbsp;
      <button (click)="guardarPedido(pedido)" class="btn btn-warning">
        ACEPTAR
      </button>
    </div>
    <div class="row justify-content-end m-0 p-0" *ngIf="consultar">
      <button (click)="volverAtras()" class="btn btn-warning">ATRAS</button>
    </div>
  </div>
</div>
