<div class="container">
  <div class="card">
    <header class="row mt-4 ml-3 mb-3">
      <i class="col-md-2 m-0 fas fa-chevron-left fa-3x" style="margin-right: 100%" (click)="backPage()">
      </i>
      <h1 class="m-0 col-md-10" style="padding-left: 14rem !important">
        Lista de Ventas
      </h1>
    </header>
    <div class="row card-body">
      <section class="container">
        <div class="row col-12 d-flex justify-content-between">
          <label class="col-5 m-0 p-0">
            <h3>Busqueda:</h3>
          </label>
          <div class="col-12 m-0 p-0 aligth">
            <input class="col-12 position-relative has-icon-right searchDiv"
                   type="text" [(ngModel)]="busqueda" class="form-control searchText"
                   placeholder="ingrese busqueda" (keyup)="filtrarVenta()"/>
          </div>
        </div>
        <br/>
        <div class="row col-12 d-flex justify-content-end">
<!--          <button (click)="exportarPDF()" class="btn btn-outline-danger">-->
<!--            <i class="fas fa-file-pdf fa-lg"></i>-->
<!--          </button>-->
<!--          &nbsp;-->
<!--          <button (click)="exportarExcel()" class="btn btn-outline-success">-->
<!--            <i class="far fa-file-excel fa-lg"></i>-->
<!--          </button>-->
<!--          &nbsp;-->
          <button (click)="nuevaVenta()" mat-raised-button color="primary"
                  title="Nueva venta">
            <i class="fas fa-file-invoice-dollar fa-lg"></i>
            Nueva venta
          </button>
          &nbsp;
          <button class="btn btn-outline-warning" [routerLink]="['/ventas/nueva-venta']">
                  nueva venta
          </button>
        </div>
      </section>
      <div class="card-body p-0" style="width: 1100px; height: 450px; overflow: auto;">
        <table class="table table-striped">
          <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col ">Nro. Venta</th>
            <th scope="col ">Nombre cliente</th>
            <th scope="col ">Fecha</th>
            <th scope="col ">Monto</th>
            <th scope="col*2 ">Opciones</th>
          </tr>
          </thead>
          <tbody *ngIf="ventas != null">
          <tr *ngFor="let venta of ventasFilter" class="text-center">
            <td>{{ venta | uppercase }}</td>
            <td>{{ venta | uppercase }}</td>
            <td>{{ venta}</td>

            <td>
              <button class="btn btn-default m-0 p-0" title="Consultar"
                      (click)=" consultVenta(venta)">
                <i class="fas fa-exclamation"></i>
              </button>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
