<section class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngIf="isLogged; else loggedOut">
        <div class="card-header">
          <h3 class="card-title titulo">Bienvenido {{nombreUsuario|titlecase}}</h3>
        </div>
        <div class="card-body d-flex justify-content-center">
          <img type="image" src="../../assets/images/logo.jpg" class="imgRedonda" title="Corralón Santo Domingo">
        </div>
        <div class="card-footer ">
          <p class="card-text titulo text-right">Sistema de stock y logistica </p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loggedOut>
    <div class="row">
      <div class="card">
        <div class="card-body ">
          <h3 class="card-title titulo">No has iniciado sesión</h3>
        </div>
      </div>
    </div>
  </ng-template>
</section>