.card {
  height: 60vh;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.55) !important;
}

.titulo {
  color: white;
  font-size: 3em;
  text-align: center;
}

.imgRedonda {
  width: 20rem;
  height: 20rem;
  border-radius: 25rem;
  opacity: 0.85;
}

@media screen and (max-width: 768px) {
  .imgRedonda {
    width: 13rem;
    height: 13rem;
    border-radius: 25rem;
    opacity: 0.85;
  }

  .titulo {
    font-size: 2em;
  }

  p {
    font-size: 1.5em;
  }
}