<!--<div class="container" style="color: white">-->
<div class="container">
  <div class="py-3">
    <h1 style="text-align: center" *ngIf="!updating">Nueva direccion</h1>
    <h1 style="text-align: center" *ngIf="updating">Actualizar direccion</h1>
  </div>
  <hr>
  <section>
    <form [formGroup]="direccionForm">
      <div class="form-row justify-content-center">
        <mat-form-field class="col-md-5 py-3" appearance="legacy">
          <mat-label>Calle</mat-label>
          <input matInput formControlName="calle" required
                 autocomplete="off"/>
        </mat-form-field>

        <mat-form-field class="col-md-5 py-3" appearance="legacy">
          <mat-label>Numero de Calle</mat-label>
          <input matInput formControlName="numerocalle" required
                 autocomplete="off"/>
        </mat-form-field>

        <mat-form-field class="col-md-10 py-3" appearance="legacy">
          <mat-label>Descripcion</mat-label>
          <textarea matInput formControlName="descripcion"
                    autocomplete="off"></textarea>
        </mat-form-field>

        <mat-form-field class="col-md-5" appearance="fill">
          <mat-label> Distrito</mat-label>
          <mat-select
            name="unidad medida"
            formControlName="distrito"
            autocomplete="off">
            <mat-option *ngFor="let distrito of distritos" [value]="distrito.id">
              {{ distrito.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </form>
  </section>
  <hr>
  <div class="text-right py-3">
    <button (click)="close()" class="btn btn-outline-danger">
      Cancelar
    </button>
    <button class="btn btn-warning" (click)="onSubmit()">
      Aceptar
    </button>
  </div>

</div>
<!--</div>-->

