<div class="container">
  <div class="py-3">
    <h1 style="text-align: center" *ngIf="!updating && !consultar">Nueva direccion</h1>
    <h1 style="text-align: center" *ngIf="updating">Actualizar direccion</h1>
    <h1 style="text-align: center" *ngIf="consultar">Direccion de cliente</h1>
  </div>
  <hr>
  <section *ngIf="init">
    <form [formGroup]="direccionForm" *ngIf="this.direccionForm">
      <div class="form-row justify-content-center">
        <mat-form-field class="col-md-5 py-3" appearance="legacy">
          <mat-label>Calle</mat-label>
          <input matInput formControlName="calle" required autocomplete="off" />
          <mat-error *ngIf="direccionForm.controls.calle.errors">
            Campo <strong>requerido</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-5 py-3" appearance="legacy">
          <mat-label>Numero de Calle</mat-label>
          <input matInput formControlName="numerocalle" required autocomplete="off" />
          <mat-error *ngIf="direccionForm.controls.numerocalle.errors">
            Campo <strong>requerido</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-10 py-3" appearance="legacy">
          <mat-label>Descripcion</mat-label>
          <textarea matInput formControlName="descripcion" autocomplete="off"></textarea>
        </mat-form-field>

        <mat-form-field class="col-md-5" appearance="fill">
          <mat-label>Distrito</mat-label>
          <mat-select name="distrito" formControlName="distrito" autocomplete="off">
            <mat-option *ngFor="let distrito of distritos" [value]="distrito.id">
              {{ distrito.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="direccionForm.controls.numerocalle.errors">
            Campo <strong>requerido</strong>
          </mat-error>
        </mat-form-field>

      </div>
    </form>
  </section>

  <section *ngIf="!init" class="justify-content-center">
    <div class="container-maps mr-2">
      <google-map #map [center]="position">
        <map-marker *ngIf="showMarker" [position]="position" [label]="label" [title]="'sample'"
          [options]="markerOptions" (positionChanged)="getCurrentPosition()">
        </map-marker>
      </google-map>
    </div>
  </section>
  <hr>
  <div class="text-right py-3">
    <button (click)="close()" class="btn btn-outline-danger" *ngIf="!consultar">
      Cancelar
    </button>
    <button (click)="close()" class="btn btn-outline-danger" *ngIf="consultar">
      Cerrar
    </button>
    &nbsp;
    <button class="btn btn-primary" (click)="prevMap()" *ngIf="!init">
      Anterior
    </button>
    &nbsp;
    <button class="btn btn-warning" (click)="showMap()" *ngIf="init">
      Siguiente
    </button>
    &nbsp;
    <button class="btn btn-warning" (click)="onSubmit()" *ngIf="!init && !consultar">
      Aceptar
    </button>
  </div>
</div>