<div class="modal-content-wrapper">
  <header class="modal-header modal-header-size2">
<!--    *ngIf="!updating && !consultar"-->
    <h1 class="modal-title">Nuevo Distrito</h1>
<!--    <h1 class="modal-title" *ngIf="updating">Actualizar Departamento</h1>-->
<!--    <h1 class="modal-title" *ngIf="consultar">Consultar Departamento</h1>-->
  </header>
  <section class="modal-body">
    <form [formGroup]="departamentoForm">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            formControlName="nombre"
            required
            autocomplete="off"
            (keyup)="validate($event)"
          />
          <mat-error *ngIf="departamentoForm.controls.nombre.errors">
            Campo <strong> requerido</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-label class="m-0 p-0"
                   style="color: #f44336; font-size: 75%">
<!--          *ngIf="duplicateName"-->
          Nombre <strong>en uso</strong>
        </mat-label>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Abreviatura</mat-label>
          <input
            matInput
            formControlName="abreviatura"
            required
            autocomplete="off"
          />
          <mat-error *ngIf="departamentoForm.controls.abreviatura.errors">
            Campo <strong> requerido</strong>
          </mat-error>
        </mat-form-field>
      </p>
    </form>
  </section>
  <footer class="modal-footer">
    <button class="btn btn-outline-danger" (click)="close()" >Cerrar</button>
<!--    *ngIf="!consultar"-->
    <button  class="btn btn-warning" (click)="onSubmit()">Guardar</button>
  </footer>
</div>
