<div class="container">
  <div class="card">
    <!--    <header class="row mt-4 ml-3 mb-3">-->
    <header class="row mt-4 ml-3 mb-3">
      <!--      <i class="col-md-2 m-0 fas fa-chevron-left fa-3x"-->
      <i class=" col-md-2 m-0 fas fa-chevron-left fa-3x"
         style="margin-right: 100%" (click)="backPage()"></i>
      <!--      <h1 class="m-0 col-md-10" style="padding-left: 10rem !important">-->
      <h1 class="m-0 col-md-10" style="padding-left: 10rem !important">
        Lista de articulos
      </h1>
    </header>
    <div class="row card-body">
      <div class="container">
        <div class="row col-12 d-flex justify-content-start">
          <label class="col-5 m-0 p-0">
            <h3>Busqueda:</h3>
          </label>

          <div class="col-12 m-0 p-0 aligth">
            <input
              class="col-12 position-relative has-icon-right searchDiv"
              type="text"
              [(ngModel)]="busqueda"
              class="form-control searchText"
              placeholder="ingrese busqueda"
              (keyup)="filtrarArticulo()"
            />
          </div>
        </div>
        <br>
        <div class="row col-12 d-flex justify-content-end">
          <button class="btn btn-outline-danger" (click)="exportarPDF()">
            <i class="far fa-file-pdf fa-lg" title="exportar pdf"></i>
          </button>
          &nbsp;
          <button class="btn btn-outline-success" (click)="exportarExcel()">
            <i class="far fa-file-excel fa-lg" title="exportar excel"></i>
          </button>
          &nbsp;
          <button mat-raised-button color="primary"
                  title="Articulo"
                  (click)="newArticulo()">
            <i class="fas fa-shopping-cart" title="nuevo articulo"></i>
            Nuevo Articulo
          </button>
        </div>
      </div>
      <div class="card-body p-0">
        <!--           style="width: 1100px; height: 450px; overflow: auto">-->


        <table class="table table-striped">
          <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Unid med</th>
            <th scope="col">Rubro</th>
            <th scope="col*2">Opciones</th>
          </tr>
          </thead>
          <!--                <tbody *ngIf="articulos != null">-->
          <!--                <tr *ngFor="let articulo of articulosFilter" class="text-center">-->
          <!--                  <td>{{ articulo.codigoArt }}</td>-->
          <!--                  <td>{{ articulo.nombre }}</td>-->
          <!--                  <td>{{ articulo.precio }}</td>-->
          <!--                  <td *ngIf="articulo.unidadMedidaId == null"></td>-->
          <!--                  <td *ngIf="articulo.unidadMedidaId != null">-->
          <!--                    {{ articulo.unidadMedidaId.abreviatura }}-->
          <!--                  </td>-->
          <!--                  <td *ngIf="articulo.rubroId == null"></td>-->
          <!--                  <td *ngIf="articulo.rubroId != null">-->
          <!--                    {{ articulo.rubroId.nombre }}-->
          <!--                  </td>-->
          <!--                  <td *ngIf="export">-->
          <!--                    <button-->
          <!--                      class="btn btn-default m-0 p-0"-->
          <!--                      title="Modificar "-->
          <!--                      (click)="modificarArticulo(articulo)"-->
          <!--                    >-->
          <!--                      <i class="fas fa-pencil-alt"></i>-->
          <!--                    </button>-->
          <!--                    &nbsp;-->
          <!--                    <button-->
          <!--                      class="btn btn-default m-0 p-0"-->
          <!--                      title="Eliminar "-->
          <!--                      (click)="deshabilitarArticulo(articulo)"-->
          <!--                    >-->
          <!--                      <i class="fas fa-trash-alt" title="deshabilitar articulo"></i>-->
          <!--                    </button>-->
          <!--                  </td>-->
          <!--                </tr>-->
          <!--                </tbody>-->
          <tbody *ngIf="articulos != null">
          <tr *ngFor="let articulo of articulosFilter | paginacion:page_size:page_number" class="text-center">
            <!--          <tr *ngFor="let articulo of articulosFilter ">-->
            <td>{{ articulo.codigoArt }}</td>
            <td>{{ articulo.nombre }}</td>
            <td>{{ articulo.precio }}</td>
            <td *ngIf="articulo.unidadMedidaId == null"></td>
            <td *ngIf="articulo.unidadMedidaId != null">
              {{ articulo.unidadMedidaId.abreviatura }}
            </td>
            <td *ngIf="articulo.rubroId == null"></td>
            <td *ngIf="articulo.rubroId != null">
              {{ articulo.rubroId.nombre }}
            </td>
            <td *ngIf="export">
              <button
                class="btn btn-default m-0 p-0"
                title="Modificar "
                (click)="modificarArticulo(articulo)"
              >
                <i class="fas fa-pencil-alt"></i>
              </button>
              &nbsp;
              <button
                class="btn btn-default m-0 p-0"
                title="Eliminar "
                (click)="deshabilitarArticulo(articulo)"
              >
                <i class="fas fa-trash-alt" title="deshabilitar articulo"></i>
              </button>
            </td>
          </tr>

          </tbody>

        </table>
        <mat-paginator [length]="this.articulosFilter.length"
                       [pageSize]="page_size"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="handlePage($event)"
                       showFirstLastButtons>
        </mat-paginator>
        <!--      <div class="mat-elevation-z8" style="width: 1000px; height: 450px; overflow: auto">-->
        <!--        <table mat-table [dataSource]="dataSource">-->

        <!--          &lt;!&ndash; Position Column &ndash;&gt;-->
        <!--          <ng-container matColumnDef="position" class="col-md-3">-->
        <!--            <th mat-header-row *matHeaderCellDef> No.</th>-->
        <!--            <td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
        <!--          </ng-container>-->

        <!--          &lt;!&ndash; Name Column &ndash;&gt;-->
        <!--          <ng-container matColumnDef="name" class="col-md-3">-->
        <!--            <th mat-header-row *matHeaderCellDef>-->
        <!--              <h5> Name</h5>-->
        <!--            </th>-->
        <!--            <td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
        <!--          </ng-container>-->

        <!--          &lt;!&ndash; Weight Column &ndash;&gt;-->
        <!--          <ng-container matColumnDef="weight" class="col-md-3">-->
        <!--            <th mat-header-row *matHeaderCellDef> Weight</th>-->
        <!--            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>-->
        <!--          </ng-container>-->

        <!--          &lt;!&ndash; Symbol Column &ndash;&gt;-->
        <!--          <ng-container matColumnDef="symbol" class="col-md-3">-->
        <!--            <th mat-header-row *matHeaderCellDef> Symbol</th>-->
        <!--            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>-->
        <!--          </ng-container>-->


        <!--          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
        <!--          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
        <!--        </table>-->


        <!--      </div>-->

      </div>
    </div>
  </div>
</div>
