<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="card-body m-3">
      <ul class="navbar-nav mr-autor trans">
        <td>
          <button [routerLink]="['list-users']" routerLinkActive="active"
                  class="btn btn-outline-warning" style="width: 300px; height: 200px;" title="usuarios">

            <i class="fas fa-users fa-5x"></i>
            <h4>USUARIOS</h4>
          </button>

        </td>
      </ul>
    </div>
  </div>
</nav>
